@import "tailwindcss";

@theme{
    --color-back: #f7dee7;
    --color-surface: #ecba82;
    --color-primary: #f0a8ce;
    --color-accent: #53917e;
    --color-text: #011627;
    --color-edge: #6d1a36;
}

.root {
    isolation: isolate;
}

body {
    position: relative;
}

[data-pressed] {
    background-color: var(--color-primary);
    box-shadow: inset;
    position: relative;
    z-index: 10;
}