@import "tailwindcss";

@theme{
    --color-back: #f7dee7;
    --color-surface: #d8bfd8;
    --color-primary: #f0a8ce;
    --color-accent: #9be7ff;
    --color-text: #011627;
    --color-edge: #6d1a36;
}

.root {
    isolation: isolate;
}

body {
    position: relative;
}

[data-pressed] {
    background-color: var(--color-accent);
    opacity: 95%;
    box-shadow: inset;
    position: relative;
    z-index: 10;
}

[data-checked]{
    background-color: var(--color-accent);
}